.navbar-brand span:first-child {
  color: #d6033f;
  font-weight: bold;
  font-size: 40px;
}

.navbar-nav .nav-link {
  font-size: 16px;
  text-transform: uppercase;
  margin-left: 20px;
  font-weight: bold;
  color: #295284 !important;
}

.navbar {
  height: 100px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
