<div class="footer">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <div class="info">

                    <h2><span>Tunisys</span></h2>
                    <p> 	TUNISYS est une entreprise privée faisant partie du groupe Amen, fondée en 1988.
                        Elle est spécialiste de l'intégration de systèmes IT, du conseil, à l’élaboration et à la conception de solutions jusqu'à leur déploiement
                        
                    </p>

                </div>

            </div>
            <div class="col-md-3">
                <!-- <div class="links">
                    <h2>Liens</h2>
                    <ul class="list-unstyled">
                        <li>Produit</li>
                        <li>Service</li>
                        <li></li>
                        <li></li>
                    </ul>

                </div> -->
            </div>
            <div class="col-md-3">

                <div class="contact">
                    <h2> Contactez-nous</h2>
                    <ul class="list-unstyled">
                        <li>124,Avenue de la liberté</li>
                        <li>Téléphone : 71791699 </li>
                        <li>Email : <a href="mailto:tunisys.mb.sj.com">tunisys@gmail.com</a> </li>
                    </ul>
                </div>

            </div>

        </div>
    </div>
</div>

<div class="copyright">
    <div class="container">
        <div class="row">

            <div class="col text-left ">
                Copyright 2022 Tunisys &copy; Tous Droits Réservés
            </div>
            <div class="col text-right ">
                <ul class="list-unstyled">

                    <li> <a href="https://www.facebook.com/Tunisys-109013924609975"><i class="lni lni-facebook-filled"> </i></a></li>
                    <li> <a href="mailto:tunisys.mb.sj.com"><i class="lni lni-google"></i> </a></li>
                    <li> <a href="https://www.linkedin.com/company/tunisys/"><i class="lni lni-linkedin-original"></i> </a></li>

                </ul>
            </div>

        </div>
    </div>
</div>