.container {
  margin-top: 75px;
  padding: 10px;
  background-color: #ffffff;
}

.form {
  font-size: 20px;
  text-align: center;
  margin: 10px;
  background-image: linear-gradient(
      to right,
      rgba(214, 3, 63, 0.7),
      rgba(214, 3, 63, 0.7)
    ),
    url("../../assets/images/reunion.jpg");
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  min-height: 450px;
  width: 30%;
  background-size: cover;
}

.upload {
  border: 2px dotted grey;
  text-align: center;
  height: 150px;
  overflow-y: scroll;
  overflow-x: hidden;
}


small {
  color: #cc0033;
  display: inline-block;
  font-size: 12px;
  ;
}

.lni-close{
  font-size: 10px;
  color: #cc0033;
  font-weight: bold;
}

*::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: lightgray;
}

.form-group {
  margin: 10px;
  margin-bottom: 15px;
}

input,select,option {
  height: 50px;
}

select option{
  padding: 30px 0 ;
}


.form-control:focus {
  border: 3px solid #d6033f;
  box-shadow: none;
}

textarea,
.btn,
select {
  outline: none !important;
}

.form-group {
  width: 100%;
}



/* *********************************** */


.file{
  padding: 5px;
  text-align: center;
  margin: 5px;
}

.file img{
  width: 50px;
  height: 50px;
}

.btn-dark{

  width: 50%;

}