<app-header></app-header>

<div class="container">
    <div class="row">

        <div class="col-md-4 form">
            Des solutions en Technologie de l’Information Innovantes & Adaptées pour votre entreprise
Contactez nos experts

Vous êtes intéressé par nos solutions IT et vous avez besoin de précisions? Nous prendrons rapidement contact avec vous pour vous proposer le service le mieux adapté.
        </div>

        <div class="col-md-8">



            <form [formGroup]="myForm" (ngSubmit)="envoyer()">
                <div class="row">

                    <div class="form-group">
                        <select class="form-control" formControlName="departement">
                            <option value="" disabled hidden selected>Sélectionnez un departement</option>
                            <option *ngFor="let dep of departements" value="{{dep._id}}">{{dep.nom}}</option>
                        </select>
                        <small *ngIf=" departement.invalid && departement.touched && departement.dirty">Rôle
                            incorrect</small>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" formControlName="sujet" placeholder="sujet *" class="col-md form-control"
                                name="sujet" id="sujet">
                            <small *ngIf=" sujet.invalid && sujet.touched && sujet.dirty">sujet incorrect</small>
                        </div>

                        <div class="form-group">
                            <input type="text" formControlName="nomClient" placeholder="Nom complet *"
                                class="form-control" name="nomClient" id="nomClient">
                            <small *ngIf=" nomClient.invalid && nomClient.touched && nomClient.dirty">Nom
                                complet
                                incorrect</small>
                        </div>
                        <div class="form-group">
                            <input type="text" formControlName="siteWeb" placeholder="siteWeb *" class="form-control"
                                name="siteWeb" id="siteWeb" />
                            <small *ngIf=" siteWeb.invalid && siteWeb.touched && siteWeb.dirty">Site Web
                                incorrect</small>
                        </div>

                    </div>
                    <div class="col-md-4 col-left">
                        <div class="form-group">
                            <input type="email" formControlName="emailClient" placeholder="Email *" class="form-control"
                                name="emailClient" id="email">
                            <small *ngIf=" emailClient.invalid && emailClient.touched && emailClient.dirty">Email
                                incorrect</small>
                        </div>
                        <div class="form-group">
                            <input type="text" formControlName="tel" placeholder="Tel *" class="form-control" name="tel"
                                id="tel">
                            <small *ngIf=" tel.invalid && tel.touched && tel.dirty">Tel incorrect</small>
                        </div>

                        <div class="form-group">
                            <input type="text" formControlName="adresse" placeholder="adresse " class="form-control"
                                name="adresse" id="adresse" />
                            <small *ngIf=" adresse.invalid && adresse.touched && adresse.dirty">Adresse
                                incorrect</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea type="text" formControlName="description" placeholder="description *"
                            class="form-control" name="description" id="description"> </textarea>
                        <small *ngIf=" description.invalid && description.touched && description.dirty">Description
                            incorrect</small>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-dark" [disabled]="myForm.invalid" value="Envoyer" type="submit" />

                    </div>

                </div>
            </form>
        </div>
    </div>
</div>

<app-footer></app-footer>